
<h2>Create new task</h2>
<%= form_for :todo, url: "/todos/update", method: "get"  do |f| %>
  <p>
    <% @todo=Todo.find(params[:id]) %>
    <%= f.label :item %><br>
    <%= f.text_field :item %><br>

    <%= f.hidden_field :id %><br>

    <%= f.submit %><br>
  </p>
<%end %>